.video-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  width: 100%;
  padding: 20px 0;
  text-align: center;
  color: #444444;
}

.video-container.dark {
  color: #ffffff;
}

.video {
  width: 100%;
  max-width: 600px;
  height: auto;
}